# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log
hf-cache/
t5-small/
pegasus-small/
