streamlit==1.37.1
transformers==4.42.4
torch==2.3.1
sentencepiece==0.2.0
accelerate==0.33.0
rouge-score==0.1.2
nltk==3.8.1
huggingface-hub==0.24.5
safetensors==0.4.3
evaluate==0.4.2
reportlab==4.2.2
flask==2.3.2
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
gunicorn==21.2.0







